.my-app {
    height: 100%;
    width: 100%;
    position: absolute; 
    top: 0; 
    left: 0;
    display: flex;
    justify-content: center;
}

.controller {
    display: flex;
    width: 95%;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    justify-content: space-around;
    align-items: center;
}

.play-button {
    align-self: flex-start;
}