
.my-app {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    position: absolute; 
    top: 0; 
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controller {
    display: flex;
    width: 90%;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    justify-content: space-around;
    align-items: center;
}

.download-file-button {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
}

.header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 5px;
}

.header img {
    width: 200px;
}

.header .application-title {
    padding-top: 11px;
    color: #1B2F58;
    font-size: large;
}

.play-button {
    align-self: flex-start;
}